img {
    width: 20%;
    height: 20%;
    padding: 40px;
}
/* HEADER */
.header {
    display: flex;
    padding: 30px 0;
    background-color: rgb(77, 77, 77);
}
.header .header-option {
    padding: 20px 30px;
    background-color: dimgrey;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin: 0 auto;
}
.header .header-option a {
    color: white;
    text-weight: bold;
}
.header .header-option:hover {
    background-color: gray;
}
.header .header-option a:visited {
    color: white;
}
/* CONTENT */
.content {
    display: flex;
    min-height: 670px;
}
.content .side-ct {
    background-color: rgb(77, 77, 77);
    width: 15%;
}
.content .content-ct {
    width: 70%;
    padding: 40px;
    background-color: #ffffb6;
}
.content .content-ct form {
    width: 80%;
    margin: 0 auto;
}
.content .content-ct input,
.content .content-ct select{
    width: 100%;
    height: 35px;
    margin: 30px auto 50px auto;
}
.content .content-ct .input-title {
    font-size: 28px;
    color: rgb(34, 86, 155);
    text-align: center;
}





.content .content-ct .main-box {
    display: flex;
}
.content .content-ct .main-box table {
    padding: 40px;
}
.content .content-ct .main-box .sponsore {
    padding: 40px;
}

.content .content-ct .text {

}
/* FOOTER */
.footer {
    height: 80px;
    padding-top: 40px;
    text-align: center;
    background: dimgray;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-weight: bold;
}